.view {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 103px;
}

.view > img {
  height: 242px;
  left: 147.5px;
  right: 147.5px;
  top: calc(50% - 242px / 2 - 162.5px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.readyButton {
  width: 140px;
  height: 51px;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  background: #828282;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  top: 520px;
  gap: 7px;
  cursor: pointer;
  transition: 0.3s;

  font-weight: 700;
  color: #ffffff;
}

.readyButton:hover {
  background-color: #e9e5e5;
}
.button {
  display: inline-block;
  font-family: Lato;
  width: 96px;
  height: 42px;
  margin-left: 24px;
  background: #828282;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  gap: 7px;
  cursor: pointer;
  transition: 0.3s;
}

.view > h1 {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  text-align: center;
  color: #373f41;
  letter-spacing: 0.2px;
  width: 730px;
  height: 112px;
}

.view > p {
  text-align: center;
  color: #737b7d;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.3px;

  width: 730px;
  height: 22px;
  top: 144px;
}
.div > input {
  background: #f4f5f4;
  border: 1px solid #8f8f8f;
  box-sizing: border-box;
  width: 377px;
  height: 42px;
}
