/* .slide {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.slide .slick-arrow.slick-prev,
.slide .slick-arrow.slick-next {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 2px;
}

.slick-prev::before,
.slick-next::before {
  display: none;
}

.slick-arrow.slick-next {
  right: 65px;
}
.slick-arrow.slick-prev {
  left: 65px;
  z-index: 1;
}
.slick-dots {
  bottom: -75px;
}

