.loader{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 443px;
  height: 266px;
  margin-top: 150px;
}

.rotate {
  width: 12em;
  height: 12em;
  animation: rotation 2s infinite ease-in;
}

@keyframes rotation {
0% {
transform: rotate(0deg);
}
100% {
transform: rotate(360deg);
}
}

