/* .slide {
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .slide .slick-arrow.slick-prev,
.slide .slick-arrow.slick-next {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 2px;
} */

.slick-prev::before,
.slick-next::before {
  display: none;
}

.slick-arrow.slick-next {
  right: 4%;
}
.slick-arrow.slick-prev {
  left: 4%;
  z-index: 1;
}
.slick-dots {
  top: 102%;
  position: absolute;
  bottom: 0;
}

.slick-dots li button::before{
  font-family: 'slick';
  font-size: 10px;
}

