.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 560px;
  height: 296px;
  border: 1px solid #dedede;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14),
    0px 11px 15px rgba(0, 0, 0, 0.2);
}
.modal > p {
  font-size: 24px;
  text-align: center;
  margin-top: 100px;
}
.modalButtons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-right: 30px;
}
.modalButtons > button:nth-child(1) {
  width: 74px;
  height: 40px;
  font-size: 14px;
  font-weight: 600;
  color: #8f8f8f;
  background-color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.4s;
  text-transform: uppercase;
}
.modalButtons > button:nth-child(2) {
  width: 64px;
  height: 40px;
  font-size: 14px;
  font-weight: 600;
  color: #8f8f8f;
  background-color: #ebebeb;
  border: 1px solid #dedede;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.4s;
  text-transform: uppercase;
}
