@import "tailwindcss";
@import "tw-animate-css";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@font-face {
  font-family: 'Josefin Sans';
  src: url('/fonts/JosefinSansBold-OVA7o.ttf') format('truetype');
  /* font-weight: 600; */
  font-display: swap;
}
@font-face {
  font-family: 'Josefin Sans';
  src: url('/fonts/JosefinSansBoldItalic-EaJRg.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Josefin Sans';
  src: url('/fonts/JosefinSansLight-ZVEll.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Josefin Sans';
  src: url('/fonts/JosefinSansLightItalic-3zaKy.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Josefin Sans';
  src: url('/fonts/JosefinSansRegular-x3LYV.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Josefin Sans';
  src: url('/fonts/JosefinSansSemibold-p7Z0v.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Josefin Sans';
  src: url('/fonts/JosefinSansThin-DOL1x.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Josefin Sans';
  src: url('/fonts/JosefinSansThinItalic-ALGeD.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

a {
  color: inherit;
  text-decoration: none;
}
