.invite {
  margin: 30px 150px;
}
.invite nav {
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
}
.logoDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.icon{
  width: 60px;
  height: 60px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.title {
  display: grid;
  grid-gap: 8px;
}
.title span {
  font-size: 40px;
  font-weight: 700;
  font-family: Josefin Sans;
  color: #172123;
  background-color: #f4e287;
  padding: 3px;
  width: 320px;
  line-height: 62px;
}
.title span:nth-child(2) {
  width: 400px;
}
.grid p {
  font-size: 24px;
  line-height: 35.5px;
  letter-spacing: 0.3px;
  font-family: "Lato", sans-serif;
}
.form {
  margin-top: 60px;
}
.grid button {
  width: 109px;
  height: 55px;
  font-size: 18px;
  font-weight: 800;
  color: #fdfcfb;
  background-color: #393e4d;
  border: none;
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.grid input {
  width: 377px;
  height: 42px;
  background-color: #f4f5f4;
  border: 1px solid #8f8f8f;
  font-size: 18px;
  margin-right: 20px;
}

.grid label {
  display: block;
  color: #172123;
  font-size: 18px;
}

.highlight {
  font-weight: bold;
  font-size: 24px;
  line-height: 35.5px;
  letter-spacing: 0.3px;
  font-family: "Lato", sans-serif;
}

