.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 8%;
}
.logoDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.icon{
  width: 40px;
  height: 40px;
}
.name{
  width: 155px;
}
.navbar > img {
  width: 100px;
  cursor: pointer;
}
.navbar > h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #222325;
  text-transform: uppercase;
}
.navbar > .buttons {
  display: flex;
  gap: 30px;
}
.navbar > .buttons > button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  cursor: pointer;
  transition: 0.3s;
}
.navbar > .buttons > button {
  width: 40px;
  height: 30px;
  border: none;
  font-size: 14px;
  background-color: transparent;
}
