.navDiv {
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.mobile{

}

.mobile > h1{
    font-family: Josefin Sans;
    font-style: italic;
    font-weight: 600;
    font-size: 44px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #172123;
}

.mobile > p {
    margin-bottom: 20px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    width: 239px;
    height: 284px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #172123;
}

.wave {
    max-width: 100%;
    top: 665px; 
}