.gameDiv {
  min-height: 100vh;
  background: linear-gradient(180deg, #ffffff 34.9%, #cfcfcf 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navDiv {
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
}
.cardDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.playerDiv {
  margin-bottom: 70px;
  margin-left: 170px;
  margin-right: 170px;
}
.modalButtons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-right: 30px;
}
.modalButtons > button:nth-child(1) {
  width: 74px;
  height: 40px;
  font-size: 14px;
  font-weight: 600;
  color: #8f8f8f;
  background-color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.4s;
  text-transform: uppercase;
}
.yes {
  width: 64px;
  height: 40px;
  font-size: 14px;
  font-weight: 600;
  color: #8f8f8f;
  background-color: #ebebeb;
  border: 1px solid #dedede;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.4s;
  text-transform: uppercase;
}
.modalText {
  font-size: 24px;
  text-align: center;
  margin-top: 100px;
}
