.gameDiv {
  min-height: 100vh;
  background-image: url("../../assets/wave-bg.svg") !important;
  background-size: 100% 100%; /* cover */
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navDiv {
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
}
.cardDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.playerDiv {
  margin-bottom: 70px;
  margin-left: 170px;
  margin-right: 170px;
}
.reactionDiv{
  width: 595px;
  margin-left: 30%;
}
.modalButtons {
  display: flex;
  gap: 100px;
  justify-content: center;
}
.modalButtons > button:nth-child(1) {
  width: 130px;
  height: 75px;
  font-size: 24px;
  font-weight: 600;
  color: #393e4d;
  background-color: #fff;
  border: 1px solid #222325;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.4s;
  text-transform: uppercase;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.yes {
  width: 130px;
  height: 75px;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  background-color: #393e4d;
  border: 1px solid #dedede;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.4s;
  text-transform: uppercase;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.yes:hover {
  background-color: #fff;
  color: #393e4d;
  border: 1px solid #393e4d;
}
.modalText {
  font-size: 34px;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  margin-top: 100px;
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.ended{
  position: absolute;
  top: 21%;
  left: 0;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}