.navDiv {
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
  overflow-y: hidden;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  align-content: center;

  position: fixed;
}

.yesnobutton {
  display: inline-block;
  padding: 127px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  margin-top: -60px;
}

.column > p {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  align-content: center;
  letter-spacing: 0.01em;
  color: #393e4d;

  width: 125px;
  height: 41px;
  position: absolute;

  margin-top: 100px;
}

.no {
  width: 130px;
  height: 75px;
  right: 769px;
  background: #fdfcfb;
  border: 1px solid #222325;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  box-shadow: 4px 4px #e5e5e5;

  color: #222325;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
}

.yes {
  width: 130px;
  height: 75px;
  background: #080f22;
  border: 1px solid #dedede;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  box-shadow: 4px 4px #e5e5e5;

  color: #fdfcfb;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
}

.yes:hover {
  background-color: #fdfcfb;
  color: #222325;
  border: 1px solid #222325;
}

.no:hover {
  background-color: #222325;
  color: #fdfcfb;
  border: 1px solid #fdfcfb;
}

.wave {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: fixed;
  left: 957px;
  bottom: 0;
}

.wave > img {
  z-index: -1;
  height: fit-content;
}

.view > img {
  z-index: -1;
  height: fit-content;
  position: fixed;
  right: 870px;
  top: 370px;
}

.view {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  margin-left: "24.6%";
}

.view > h1 {
  font-family: Josefin Sans;
  font-style: italic;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #2c393c;
  letter-spacing: 0.2px;
  width: 730px;
  height: 112px;
  margin-top: "30%";
}

.view > h2 {
  text-align: center;
  color: #172123;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 0.3px;
  margin-top: 32px;

  width: 730px;
  height: 152px;
}

.view > p {
  font-family: Lato;
  font: 18px;
  margin-top: -75px;
}

.highlight {
  font-family: Lato;
  font-weight: bold;
  text-decoration: underline;
  font-size: 24px;
  line-height: 35.5px;
  letter-spacing: 0.3px;
  color: #172123;
  background-color: #f4e287;
}

.div > input {
  background: #f4f5f4;
  border: 1px solid #8f8f8f;
  box-sizing: border-box;
  width: 377px;
  height: 42px;
}

.copybutton {
  position: relative;
}

.cbutton {
  display: inline-block;
  font-family: Lato;
  font-weight: bold;
  font-size: 18px;

  width: 90px;
  height: 55px;
  justify-content: center;
  margin-left: 27px;
  padding: 12px 18px;
  background: #393e4d;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  gap: 7px;
  cursor: pointer;
  transition: 0.3s;

  box-shadow: 4px 4px #e5e5e5;
}

.cbutton:hover {
  background-color: #e9e5e5;
  color: #393e4d;
  border: 1px solid #393e4d;
}

.copybutton > p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #333333;
  margin-bottom: 0;
  margin-top: 50px;
}

.modalButtons {
  display: flex;
  gap: 100px;
  justify-content: center;
}
.modalButtons > button:nth-child(1) {
  width: 130px;
  height: 75px;
  font-size: 24px;
  font-weight: 600;
  color: #222325;
  background-color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.4s;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modalText {
  font-size: 34px;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  margin-top: 100px;
}
